In [5]:
import pandas as pd
data = pd.read_csv('Simplified_Logistic_Regression_Dataset.csv')
data.head()

   Age  Salary  Purchased
0   22   21000          0
1   25   25000          0
2   47   47000          1
3   52   52000          1
4   46   46000          1

In [6]:
# Objective:  build a Logistic Regression model to predict whether an individual will purchase a product based on their age and salary

In [8]:
X = data[['Age', 'Salary']]
Y = data[['Purchased']]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=0)

In [10]:
X_train

   Age  Salary
3   52   52000
0   22   21000
5   56   58000
4   46   46000

In [12]:
Y_train

   Purchased
3          1
0          0
5          1
4          1

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_trained_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_trained_scaled

array([[ 0.60647843,  0.55050792],
       [-1.6678157 , -1.65152377],
       [ 0.90971765,  0.9767076 ],
       [ 0.15161961,  0.12430824]])

In [15]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression()
logistic_model.fit(X_trained_scaled, Y_train)

Y_pred = logistic_model.predict(X_test_scaled)

/Library/Python/3.9/site-packages/sklearn/utils/validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
from sklearn.metrics import confusion_matrix

conf_matrix = confusion_matrix(Y_test, Y_pred)
print(conf_matrix)

[[1 0]
 [0 3]]

In [19]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(Y_test, Y_pred)
print(f"\nAccuracy: {accuracy:.2f}")

Accuracy: 1.00