In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.DataFrame(
        {'id': [1,2,3,4,5,6,7,8],
        'Label': ['green','green','green','green',
                  'red','red','red','red'],
        'Height': [5, 5.5, 5.33, 5.75,
                   6.00, 5.92, 5.58, 5.92],
        'Weight': [100, 150, 130, 150 ,
                   180, 190, 170, 165],
        'Foot': [6, 8, 7, 9, 13, 11, 12, 10]} ,
         columns = ['id', 'Height', 'Weight',
                    'Foot', 'Label'])

X = data[["Height","Weight","Foot"]]
y = data["Label"]

X_train, X_test, y_train, y_test =train_test_split(X, y, train_size=0.75, stratify =y)

X_train

   Height  Weight  Foot
7    5.92     165    10
3    5.75     150     9
2    5.33     130     7
4    6.00     180    13
0    5.00     100     6
6    5.58     170    12

In [3]:
X_test

   Height  Weight  Foot
5    5.92     190    11
1    5.50     150     8

In [4]:
y_train

7      red
3    green
2    green
4      red
0    green
6      red
Name: Label, dtype: object

In [5]:
y_test

5      red
1    green
Name: Label, dtype: object

In [6]:
data ['Class'] = data['Label'].apply(lambda x: 1 if x=='green' else 0)

In [7]:
y_true = data['Class'].values

In [11]:
y_true

array([1, 1, 1, 1, 0, 0, 0, 0])

In [8]:
y_pred_1 = [0,0,0,1,0,0,1,1]
y_pred_2 = [0,0,1,1,0,1,1,1]
y_pred_3 = [1,1,1,1,1,1,1,0]

In [9]:
from sklearn.metrics import confusion_matrix

cf_1 = confusion_matrix(y_true, y_pred_3)
cf_2 = confusion_matrix(y_true, y_pred_3)
cf_3 = confusion_matrix(y_true, y_pred_3)

In [12]:
print(cf_3)

[[1 3]
 [0 4]]