In [1]:
print("hello")

hello

In [2]:
!pip3 install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (0.2.40)
Requirement already satisfied: multitasking>=0.0.7 in /Library/Python/3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in /Library/Python/3.9/site-packages (from yfinance) (2024.2)
Requirement already satisfied: html5lib>=1.1 in /Library/Python/3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in /Library/Python/3.9/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: pandas>=1.3.0 in /Library/Python/3.9/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: peewee>=3.16.2 in /Library/Python/3.9/site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Library/Python/3.9/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: requests>=2.31 in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: numpy>=1.16.5 in /Library/Python/3.9/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: platformdirs>=2.0.0 in /Library/Python/3.9/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: lxml>=4.9.1 in /Library/Python/3.9/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: soupsieve>1.2 in /Library/Python/3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /Library/Python/3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Python/3.9/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Library/Python/3.9/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: idna<4,>=2.5 in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.9)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ananyasingh/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2.2.3)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [3]:
import os
import pandas as pd
import yfinance as yf

def get_stock(ticker, start_date, end_date, s_window, l_window):
    try:
        df = yf.download(ticker, start=start_date, end=end_date)
        df['Return'] = df['Adj Close'].pct_change()
        df['Return'].fillna(0, inplace=True)
        df['Date'] = df.index
        df['Date'] = pd.to_datetime(df['Date'])
        df['Month'] = df['Date'].dt.month
        df['Year'] = df['Date'].dt.year
        df['Day'] = df['Date'].dt.day
        for col in ['Open', 'High', 'Low', 'Close', 'Adj Close']:
            df[col] = df[col].round(2)
        # df['Weekday'] = df['Date'].dt.weekday_name
        df['Weekday'] = df['Date'].dt.day_name()
        df['Week_Number'] = df['Date'].dt.strftime('%U')
        df['Year_Week'] = df['Date'].dt.strftime('%Y-%U')
        df['Short_MA'] = df['Adj Close'].rolling(
            window=s_window, min_periods=1).mean()
        df['Long_MA'] = df['Adj Close'].rolling(
            window=l_window, min_periods=1).mean()
        col_list = ['Date', 'Year', 'Month', 'Day', 'Weekday',
                    'Week_Number', 'Year_Week', 'Open',
                    'High', 'Low', 'Close', 'Volume', 'Adj Close',
                    'Return', 'Short_MA', 'Long_MA']
        num_lines = len(df)
        df = df[col_list]
        print('read ', num_lines, ' lines of data for ticker: ', ticker)
        return df
    except Exception as error:
        print(error)
        return None


here = os.path.abspath('')
input_dir = os.path.abspath(os.path.join(here, os.pardir))
tickers = ['SPY']
for ticker in tickers:
    try:
        output_file = os.path.join(input_dir, ticker + '.csv')
        df = get_stock(ticker, start_date='2016-01-01', end_date='2020-12-31',
                       s_window=14, l_window=50)
        df.to_csv(output_file, index=False)
        print('wrote ' + str(len(df)) + ' lines to file: ' + output_file)
    except Exception as e:
        print(e)
        print('failed to get Yahoo stock data for ticker: ', ticker)

/Users/ananyasingh/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
[*********************100%%**********************]  1 of 1 completed

read  1258  lines of data for ticker:  SPY
wrote 1258 lines to file: /Users/ananyasingh/cs677/SPY.csv

/var/folders/04/pnwc2yqj67d2n1jpm5zhwh8c0000gn/T/ipykernel_20763/1554690036.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Return'].fillna(0, inplace=True)

In [6]:
ticker='SPY'
ticker_file = os.path.join(ticker + '.csv')

try:
    with open(ticker_file) as f:
        lines = f.read().splitlines()
    print('opened file for ticker: ', ticker)

except Exception as e:
    print(e)
    print('failed to read stock data for ticker: ', ticker)

opened file for ticker:  SPY

In [25]:
lines[:5]

['Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA',
 '2016-01-04,2016,1,4,Monday,01,2016-01,200.49,201.03,198.59,201.02,222353500,172.95,0.0,172.95,172.95',
 '2016-01-05,2016,1,5,Tuesday,01,2016-01,201.4,201.9,200.05,201.36,110845800,173.25,0.0016911857277299713,173.1,173.1',
 '2016-01-06,2016,1,6,Wednesday,01,2016-01,198.34,200.06,197.6,198.82,152112600,171.06,-0.012614080547340034,172.42,172.42',
 '2016-01-07,2016,1,7,Thursday,01,2016-01,195.33,197.44,193.59,194.05,213436100,166.96,-0.023991575117910724,171.055,171.055']

In [10]:
years = [ int(lines[i].split(',')[1])  for i in range(1, len(lines))]
weekdays = [ lines[i].split(',')[4] for i in range(1, len(lines))]
ret = [float(lines[i].split(',')[13]) for i in range(1,len(lines))]

In [18]:
plus_indices = {i for i in range(len(ret)) if ret[i] >= 0}
r_plus = [ret[i] for i in plus_indices]

minus_indices = {i for i in range(len(ret)) if ret[i] < 0}
r_minus = [ret[i] for i in plus_indices]
    
all_indices = {i for i in range(len(ret))}

In [19]:
def returns(weekday,year,pm):
  '''
  Weekday in {'Monday','Tuesday','Wednesday','Thursday','Friday'}
  Year in {2016,2017,2018,2019,2020}
  pm any of the three sets plus_indices, minus_indices, or all_indices

  Returns the set of specified returns
  '''
  ind_year = {i for i in range(len(years)) if years[i] == year}
  ind_weekday = {i for i in range(len(weekdays)) if weekdays[i] == weekday}
  desired_indices = pm.intersection(ind_year).intersection(ind_weekday)

  return [ret[i] for i in desired_indices]

In [20]:
import numpy as np
year_dict = {0:2016, 1:2017, 2:2018, 3:2019, 4:2020}
weekday_dict = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday'}

all_tables = []

for j in range(5):
    y = year_dict[j]
    year_summary = []
    
    for i in range(5):
        w = weekday_dict[i]
        all = returns(w, y, all_indices)
        neg = returns(w, y, minus_indices)
        pos = returns(w, y, plus_indices)
        
        year_summary.append([np.mean(all), np.std(all), len(neg), np.mean(neg), np.std(neg), len(pos), np.mean(pos), np.std(pos)])
    
    all_tables.append(year_summary)

In [21]:
import pandas as pd

col_list = ['mean(R)','std(R)','|R_minus|','mean(R_minus)','std(R_minus)','|R_plus|','mean(R_plus)','std(R_plus)']
row_list = weekday_dict.values()

l = []
for i in range(5):
    df = pd.DataFrame(all_tables[i],columns=col_list, index=row_list)
    df = df.style.set_caption(str(year_dict[i])+' Summary by Day of Week')
    l.append(df)

l[0]

In [22]:
l[1]

In [24]:
import pandas as pd
# Make aggregate table for all years
all_years = []
for i in range(5):
    w = weekday_dict[i]
    all = []
    neg = []
    pos = []
    
    for j in range(5):
        y = year_dict[j]
        all.extend(returns(w, y, all_indices))
        neg.extend(returns(w, y, minus_indices))
        pos.extend(returns(w, y, plus_indices))
    
    all_years.append([np.mean(all), np.std(all), len(neg), np.mean(neg), np.std(neg), len(pos), np.mean(pos), np.std(pos)])
    
df = pd.DataFrame(all_years,columns=col_list, index=row_list)
df = df.style.set_caption('All Years Summary by Day of Week')
df